# Introduction To Tuples

In [1]:
# Tuples are simillar to lists (they are not exactly same)
# a=[1,2]->Lists
# b=(1,1)->Tuples

In [2]:
a=(1,2)

In [3]:
print(a)

(1, 2)

In [4]:
print(type(a))

<class 'tuple'>

In [5]:
b,c=3,4

print(b)
print(c)

e=5,6
print(e)
print(type(e))

3
4
(5, 6)
<class 'tuple'>

In [8]:
e[2]

IndexError: tuple index out of range

In [9]:
e[-3]

IndexError: tuple index out of range

In [10]:
f=(1,2,3,4,5,6)
f[0:3]

(1, 2, 3)

In [11]:
f=(1,2,3,4,5,6)
f[3:]

(4, 5, 6)

In [12]:
# Tuples are immutable
# Lists are mutable

In [13]:
del f[4]

TypeError: 'tuple' object doesn't support item deletion

In [14]:
# u cant add ,del,change/update in tuples but u can delete tuple

In [15]:
del f

In [16]:
f

NameError: name 'f' is not defined

In [17]:
a = 5,6,7
print(a[1:])

(6, 7)

In [18]:
a = 5,6,7
a[2] = 9 
print(a)

TypeError: 'tuple' object does not support item assignment

# Tuple Functions

In [20]:
a=(1,2,3)
b=4,5

In [22]:
# for loops
for i in a:
    print(i)

1
2
3

In [23]:
1 in a

True

In [24]:
1 in b

False

In [25]:
len(a)

3

In [31]:
# concatenations
c=a+b

In [29]:
d=(a,b)

In [27]:
c

(1, 2, 3, 4, 5)

In [30]:
d

((1, 2, 3), (4, 5))

In [32]:
# repetation
e=a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [33]:
max(a)

3

In [34]:
a2=(1,2,"v",(1,2))

In [35]:
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
a2=(1,2,(1,2))

In [37]:
min(a2)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [38]:
a2=(1,2,(1,2))
a3=(1,2,2)

In [39]:
min(a3)

1

In [41]:
# List to Tuple
l=(1,2,3,4)
tuple(l)

(1, 2, 3, 4)

In [42]:
a = 1,2
b = (4,5)
d = (a,b)
print(d[0])

(1, 2)

In [43]:
a = 1,2
b = (4,5)
d = a+b
print(d[2])

4

In [45]:
a = ("ab","abc","def")
print(min(a))

ab

# Variable length and output

In [46]:
def sum(a,b):
    return a+b

In [47]:
sum(1,2,3,4,5)

TypeError: sum() takes 2 positional arguments but 5 were given

In [48]:
def sum(a,b,c=0,d=0,e=0):
    return a+b+c+d+e

In [49]:
sum(1,2,3,4,5)

15

In [50]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(more)

In [51]:
sum2(2,3)

2
3
()

In [52]:
sum2(2)

TypeError: sum2() missing 1 required positional argument: 'b'

In [53]:
sum2(2,3,4,5)

2
3
(4, 5)

In [55]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(type(more))

In [56]:
sum2(2,3,4,5)

2
3
<class 'tuple'>

In [57]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(type(more))
    ans=a+b
    for i in more:
        ans=ans+i
    return ans

In [58]:
sum2(2,3,4,5)

2
3
<class 'tuple'>

14

In [59]:
def sum_diff(a,b):
    return a+b,a-b

In [61]:
c=sum_diff(4,1)
c

(5, 3)

In [64]:
d,e=sum_diff(4,1)
print(d)
print(e)

5
3

In [66]:
def sum_diff(a,b):
    return a+b,a-b,a*b

In [67]:
d,e=sum_diff(4,1)
print(d)
print(e)

ValueError: too many values to unpack (expected 2)

In [68]:
d,e,f=sum_diff(4,1)
print(d)
print(e)

5
3

In [70]:
d=sum_diff(4,1)
print(d)

(5, 3, 4)

In [71]:
def multiply(a,b,c,*more):
    value = a*b*c
    for i in more:
        value = value * i
    return value
V = multiply(1,2,3,4,5)
print(V)

120

In [72]:
def sum_multiply(a,b,*more):
    sum_value = a+b
    m_value = a*b
    for i in more:
        sum_value += i
        m_value*=i
    return sum_value,m_value
s_m = sum_multiply(2,3,4)
print(s_m)

(9, 24)