# Input of Two Dimensional Lists

In [1]:
str=input().split()
n,m=int(str[0]),int(str[1])
li=[[int(j) for j in input().split()] for i in range(n)]

3 4
1 2 3 4
5 6 7 8
9 10 11 12

In [2]:
li

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [6]:
# str=input().split()     # jagged list
n =int(input())
li=[[int(j) for j in input().split()] for i in range(n)]

3
1 2 3 4
5 6
7 8 9

In [7]:
li

[[1, 2, 3, 4], [5, 6], [7, 8, 9]]

# Input of Two Dimensional List -2

In [8]:
str=input().split()
n,m=int(str[0]),int(str[1])
b = input().split()
arr=[[int(b[m*i+j]) for j in range(m)]for i in range(n)]

3 4
1 2 3 4 5 6 7 8 9 10 11 12

In [9]:
arr

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [10]:
str=input().split()
n,m=int(str[0]),int(str[1])
b = str[2:]
arr=[[int(b[m*i+j]) for j in range(m)]for i in range(n)]

3 4 1 2 3 4 5 6 7 8 9 10 11 12

In [11]:
arr

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [12]:
n

3

In [13]:
m

4

# Printing Two Dimensional Lists

Iterating on Two Dimensional Lists

In [14]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]

In [15]:
n=3
m=4

In [16]:
for i in range(n):
    for j in range(m):
        print(li[i][j])

1
2
3
4
5
6
7
8
9
10
11
12

In [17]:
for i in range(n):
    for j in range(m):
        print(li[i][j],end=' ')
    print()

1 2 3 4
5 6 7 8
9 10 11 12

In [18]:
li=[[1,2,3,4],[5,6],[9,10,11]]
n=3
for row in li:
    for ele in row:
        print(ele,end=' ')
    print()

1 2 3 4
5 6
9 10 11

In [19]:
'abc'.join('abcd')

'aabcbabccabcd'

In [20]:
'ab'.join(['1','2','3'])

'1ab2ab3'

In [1]:
li=[[1,2,3,4],[5,6],[9,10,11]]
n=3
for row in li:
    output = ' '.join([str(ele) for ele in row])
    print(output)

1 2 3 4
5 6
9 10 11

# Largest Column Sum in Two Dimnensional list

In [3]:
def lar_col_Sum(li):
    n=len(li)
    m=len(li[0])
    
    max_Sum=-1
    max_col_index=-1
    
    for j in range(m):
        sum=0
        for i in range(n):
            sum+=li[i][j]
        if sum>max_Sum:
            max_col_index=j
            max_Sum=sum
    return max_Sum,max_col_index
            
li=[[1,2,3,4],[8,7,6,5],[9,10,11,12]]
lar_sum,lar_col_index=lar_col_Sum(li)
print(lar_sum,lar_col_index)

21 3

In [4]:
def lar_col_Sum(li):
    n=len(li)
    m=len(li[0])
    
    max_Sum=-1
    max_col_index=-1
    
    for j in range(m):
        sum=0
        for i in range(n):
            sum+=li[i][j]
        if sum>max_Sum:                     # verticall iteration
            max_col_index=j
            max_Sum=sum
    return max_Sum,max_col_index
            
li=[[1,2,3,4],[8,7,6,5],[9,10,11,7]]
lar_sum,lar_col_index=lar_col_Sum(li)
print(lar_sum,lar_col_index)

20 2

In [6]:
def lar_col_Sum(li):
    n=len(li)
    m=len(li[0])
    
    max_Sum=-1
    max_col_index=-1
    
    for j in range(m):
        sum=0
        for ele in li:
            sum+=ele[j]
        if sum>max_Sum:
            max_col_index=j
            max_Sum=sum
    return max_Sum,max_col_index
            
li=[[1,2,3,4],[8,7,6,5],[9,10,11,7]]
lar_sum,lar_col_index=lar_col_Sum(li)
print(lar_sum,lar_col_index)

20 2

In [7]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
for j in range(4):
    for ele in li:
        print(ele[j],end = " ")

1 5 9 2 6 10 3 7 11 4 8 12