In [7]:
a = 10
b = 20 
multiple = a*b
print("multiple")

multiple

In [10]:
a = 10
b = 20 
multiple = a*b
print(multiple)

200

In [13]:
x = 10
x = "abcd"
print(x)

abcd

In [15]:
x = "abcd"
x = 10
print(type(x))

<class 'int'>

# python numbers

In [18]:
a1=23
a2=3.4
a3=4+5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [29]:
a=10
print(id(a))
a=a+1
print(id(a))
a

140710282733648
140710282733680

11

In [23]:
print(id(a))

140710282733680

In [25]:
a=2
print(id(a))
a=3
print(id(a))

140710282733392
140710282733424

In [28]:
a=3
b=3
print(id(a))
print(id(b))

140710282733424
140710282733424

In [30]:
a = 1000
b = 1000
print(id(a))
print(id(b))

2508499725680
2508499723824

In [41]:
a = 10
id1 = id(a)
b = a + 2-2
id2 = id(b)

id1 and id2 have same value?
yes

# arithmetic operators

In [54]:
a=10
b=4
print(a-b)
print(a+b)
print(a*b)
print(a**b) #exponentiation like 10 to the power 4
print(a//b) #integer division
print(a/b)  #floating point division
print(a%b)

6
14
40
10000
2
2.5
2

In [59]:
2+(3*4)

14

In [65]:
2 + 3 / 4

2.75

In [68]:
print(2*3/4) 
2*3//4

1.5

1

In [70]:
#simple interest
p=100
r=12
t=2
si=t//100*r*p
si

0

In [76]:
p=100
r=12
t=2
#si=t//100*r*p
#si=p*r*t//100
si=(p*r*t)//100
si

24

In [77]:
#fah t0  celcium convertion
f=100
c=(f-32)*5/9
print(c)
ci=(f-32)*5//9
print(ci)

37.77777777777778
37