# For loop & Range method

In [ ]:
# for i in x:      ( x is a sequence)

In [1]:
s="abcd"
for c in s:
    print(c)

a
b
c
d

In [4]:
n=int(input())
for i in range(0,n,1):    # range method(basically takes 3 arguments {start,stop,stride(increment/step)})
    print(i)

3
0
1
2

In [8]:
n=int(input())
for i in range(1,n+1,1):
    print(i)

3
1
2
3

In [9]:
# only one value to range and it uses it as stop and by default 0 for start and 1 for step
n=int(input())            
for i in range(n+1):         # by default step is 1 and start is 0.
    print(i)

3
0
1
2
3

In [12]:
# numbers from n to 1
n=int(input())
for i in range(n,0,-1):
    print(i)

3
3
2
1

In [15]:
n=int(input())
for i in range(n,1,-1):
    print(i)

4
4
3
2

In [16]:
for i in range(1,5,2):
    print(i,end=' ')

1 3

In [17]:
for i in range(5):
    print(i,end= ' ')

0 1 2 3 4

# print multiples of 3

In [20]:
a=int(input())
b=int(input())
for i in range(a,b+1,3):
    print(i)

3
9
3
6
9

In [23]:
# a<b
a=int(input())
b=int(input())
for i in range(a,b+1,1):
    if i % 3 == 0:
       print(i)

1
10
3
6
9

In [30]:
a=int(input())
b=int(input())

if a %3 == 0:
    s = a
elif a % 3 == 1:
    s = a + 2
else:
    s = a + 1
    
for i in range(s,b+1,3):
       print(i)

7
10
9

In [33]:
a = int(input())
b = int(input())

if a % 3 == 0:
    s = a
elif a % 3 == 1:
    s = a + 2
else:
    s = a + 1
    
for i in range(s, b+1, 3):
       print(i)

36
69
36
39
42
45
48
51
54
57
60
63
66
69

# check if a number is prime

In [34]:
n=int(input())
flag=False
for d in range(2,n,1):
    if n%d==0:
        flag = True
if flag:
    print("not prime")
else:
    print("prime")

6
not prime

# PATTERN

In [ ]:
    1
   232         # spaces-> n-i
  34543        # increase -> i....2i-1,1
 4567654       # decrease -> 2i-2... i,-1

In [38]:
n=int(input())
for i in range(1,n+1,1):
    for s in range(n-i):
        print(" ",end="")
    for j in range(i,2*i,1):
        print(j,end=" ")
    for j in range(2*i-2,i-1,-1):
        print(j,end="")
    print()

4
   1
  2 3 2
 3 4 5 43
4 5 6 7 654